{% extends 'base.html.twig' %}

{% block body %}

    <h2>{% trans %}Symfony Demo Project{% endtrans %}</h2>

    This is a simple Demo Project to show the usage of a PHP Webframework, especially at the Backend. As you can see, my intention
    is not to develop a super good looking Frontend.
    <br><br>
    <p>Using Symfony Services:</p>
    <ul>
        <li>Security</li>
        <li>Doctrine Orm</li>
        <li>Swift Mailer</li>
        <li>Form Builder</li>
        <li>EasyAdmin Bundle</li>
        <li>Translations</li>
        <li>...</li>
        <li>Twig Templates</li>


    </ul>
    <p>
        Project Directory:
        <code>{{ base_dir }}</code>
    </p>
    <p>
        Instructions:
        <code>{{ base_dir }}README.md</code>
    </p>

{% endblock %}
{% block sidepanel %}
    {{ parent() }}
{% endblock %}